<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="/stylesheets/style.css">
    <title>{{ _target.label }} | Preview Layout</title>
</head>
<body>
<div id="main">
<article class="cbody">
  <section class="main-content" itemprop="articleBody">
    <div class="content">
      <div class="row">
        <div class="grid grid-8 grid-center">
{{{ yield }}}
        </div>
      </div>
    </div>
  </section>
</article>
</div>

<style type="text/css">
  body .Document {
    background: #ff0000;
  }
</style>
</body>
</html>